<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>驻外基地.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0CAA6D11F468F5600A17E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0CAA6EA1F468F5600A17E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0CAA6F51F468F5600A17E75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
